{% extends "wallbase.html" %}

{% block tittle %}home{% endblock %}

{%block content%}


<!-- Iterate over object_list -->
<li class="list-group-item d-flex justify-content-between align-items-center">
  USERNAME <span class="badge bg-dark"> POSTS</span> 
</li>
{% for user, post_count in data %}

<ul class="list-group">

  <li class="list-group-item d-flex justify-content-between align-items-center m-1">

    <a href="{% url 'wall:viewUser' user.id %}" class="link-primary">{{ user}}</a>
    <span class="badge bg-primary rounded-pill">{{ post_count }}</span>

  </li>
</ul>
{% empty %}
<li>There are no registered users yet.</li>
{% endfor %}

{% endblock %}