{% extends "wallbase.html" %}

{% block tittle %}home{% endblock %}

{%block content%}

<div class="row p-2">
    <!-- SIDEBAR -->
    <div class="col-3 d-none d-sm-block contentArea">
        <div class="col">
            <div class="h4 font-weight-bold mb-1 text-center contentArea">PEOPLE</div>
        </div>
        <div class="col text-center user-scroller contentArea">
            {%for user in users%}
            <a href="{% url 'wall:viewUser' user.id %}">
                <div class="col users-sb users-hv contentArea">
                    {{user}}
                </div>
            </a>
            {%endfor%}
        </div>
        <div class="m-3 p-2 logout-btn text-center">
            Logout</br> @dev-kaycee {{username}}
        </div>
    </div>

    <!-- POSTS -->
    <div class="col">
        <div class="row post-scroller">
            <div class="col">
                {%for post in posts%}
                <div class="card my-2 bg-light post">
                    <div class="card-body">
                        <h5 class="card-title"><span> <a
                                    href="{% url 'wall:viewUser' post.user.id %}">{{post.user}}</a></span></h5>
                        <p class="card-text my-1">{{post.message}}</p>
                        <p class="text-muted text-end my-1">{{post.created_at}}</p>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

</div>
{%endblock%}